<html>

<body>
	{% include 'errand/header.html' %}
	<div class="container">
			
			<div class="col-xs-12">
				<center><h3>{{user.first_name}} {{user.last_name}}</h3></center>
				<div class="admin-box" style="padding:10px; margin: 10px">
					<h6><span style="color: gray">{{user.myuser.role.role}}</span> </h6>
					<h6>Email: <span style="color: gray">{{user.email}}</span></h6>
				</div>
				<div class="admin-box" style="padding:50px; margin: 10px">
					<h5>Change Password: </h5>
					 <form method="post" action="" role="form">
					 	{% csrf_token %}
					 	  <div class="form-group">
						    <label for="cu_pwd">Current password:</label>
						    <input name="cu_pwd" type="password" class="form-control" id="cu_pwd">
						  </div> 
						  <div class="form-group">
						    <label for="pwd">New password:</label>
						    <input name="pwd" type="password" class="form-control" id="pwd">
						  </div>
						  <div class="form-group">
						    <label for="cpwd">Confirm password:</label>
						    <input name="cpwd" type="password" class="form-control" id="cpwd">
						  </div>
						  <button type="submit" class="btn btn-default pull-right">Change</button>
					</form>
				</div>
			</div>
	</div>
</body>
<script type="text/javascript">
	{% if msg %}
		Materialize.toast("{{msg}}", 4000);
	{% endif %}
</script>
</html>