<html>

<body>
	{% include 'errand/header.html' %}
	<div class="container">
		{% for s in services %}
		<div class="col-xs-12 col-sm-6 col-md-6 col-md-4">
			<div class="card" id="{{s.id}}">
			    <div class="card-content">
			    	<span class="card-title grey-text text-darken-4">
			    		{{s.name}}
			    	</span>
			    </div>
			    <div class="card-content">
				    <span class="activator grey-text text-darken-4">
				    	<a class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add</i></a>
				    </span>	
			    </div>
			    <div class="card-content">
			    	<p>Cost: {{s.cost}}</p>
			    </div>
			    <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4"><button class="btn btn-primary confirm-service" id="{{s.id}}">Confirm?</button><i class="material-icons right">close</i></span>
			      <p></p>
			    </div>
		    </div>
		</div>
	    {% endfor %}
	</div>
</body>
<script src="../../static/errand/js/service.js"></script>
<script type="text/javascript">
	/*$('.btn-floating').click(function(){
		sid = $(this).attr('id');
		$('.card').each(function(){
			if($(this).attr('id') != sid)
				$(this).find('.card-reveal').addClass('velocity-animation').css('transform', 'translateY(0px)').delay(300).css('display', 'none').delay(100).removeClass('velocity-animation');
		})
	});*/
	$('#home').addClass('active');
	$('.confirm-service').click(function(){
		sid = $(this).attr('id')
		console.log(sid)
	       $.ajax({
	          type: 'POST',
	          url: "/addservice/",
	          data: {'sid':sid},
	          success: function(resultData) {
	            console.log('Service requested successfully!')
	        }
	    });
		Materialize.toast('Your request has been made', 4000)   
	});
</script>
</html>